@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy Policy</h1>
<p>This is the Privacy Policy page.</p>

<p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go to Index</a>
    <a href="@Url.Action("Error", "Home")" class="btn btn-secondary">Go to Error</a>
</p>
